body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top right, #7200CB 40%,#ffffff 50% );
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}
.login{
    background-color: rgba(0, 0,0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 60px;
    border-radius: 15px;
    color: white ;
}
.inputsubmit{
    background-color:#0174DF;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
.inputsubmit:hover{
    background-color: #58ACFA;
    cursor: pointer;
}

.inputbutton{
    background-color: #848484;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    color: white;
}
.inputbutton:hover{
    background-color:#A4A4A4 ;
    cursor: pointer;
}
.inputbutton a{
    color:white;
    text-decoration: none;
}


@media only screen and (max-device-width: 900px) {
    /* .menu { width:600px; } */
    }
@media only screen and (max-device-width: 700px) {
    /* .menu { width:400px; } */
    }
@media only screen and (max-device-width: 900px) {
    /* .menu { width:600px; } */
    }
